{% extends 'base.html' %}
{% block title %}Add Friend {{super()}} {% endblock %}
{% block head %}
	{{super()}} {# ota kaikki koodi tähän, mitä headiin määritelty #}
	
{% endblock %}


{% block navbar %}{{super()}}{% endblock %}
{% block body %}
	{# call super() if you want to include code from base.html template #}
	{{super()}}
	<div class="my_container">
		<form action="/friends" method="POST" enctype="multipart/form-data">
			{{ form.csrf_token }} 
			{{ form.name.label }}
			{{ form.name(class='form-control') }} 
			{{ form.address.label }}
			{{ form.address(class='form-control') }}
            {{ form.age.label }}
			{{ form.age(class='form-control') }}        
			
			{{form.upload_file()}} <br/>
			
			{{form.submit(class='btn btn-default')}}
		</form>
	</div>
{% endblock %}