{#In this file all variables inside {{}} will be #}
{#	replaced by Jinja2 template engine with actual data #}

{% extends 'base.html' %}
{% block title %}Login {{super()}} {% endblock %}
{% block head %}
	{{super()}} {# ota kaikki koodi tähän, mitä headiin määritelty #}

{% endblock %}
{% block navbar %}{{super()}}{% endblock %}
{% block body %}
	{# call super() if you want to include code from base.html template #}
	{{super()}}
	<div class="my_container">
		<form action="/" method="POST">
			{{ form.csrf_token }} {# pakollinen pythonissa, suojaa csrf hyökkäyksiltä #}
			{{ form.email.label }}
			{{ form.email(class='form-control', id='email') }} {# määritellään tyylit #}
			{{ form.passw.label }}
			{{ form.passw(class='form-control') }}
			
			{{form.submit(class='btn btn-default')}}
		</form>
	</div>
{% endblock %}